@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div ><p style="color:crimson; text-shadow:inherit;font-size:xx-large;"> Fidan Khanlarova</p></div>
